<mat-card class="mat-elevation-z4" id="card-nivel">
    <mat-card-content class="card-content-nivel">
        <div class="div-nivel">
            <p style="font-size: 18px; text-align: center;">
                Para acceder a está sección primero debes finalizar los ejercicios
                correspondientes a cada tema de conjuntos 2.</p>
        </div>
        <div class="div-img-nivel">
            <img src="assets/img/block1.png" style="height: 95px;">
        </div>
    </mat-card-content>
    <mat-card-actions fxLayout="column" fxLayoutAlign="none">
        <button class="boton-cerrar" mat-stroked-button (click)="cerrarMensaje()">
            Cerrar
        </button>
    </mat-card-actions>
</mat-card>