.div-principal {
  width: 80%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 5%;
  background: transparent !important;
}

.div-caja {
  width: 28%;
  height: 260px;
  margin: 25px;
  box-sizing: border-box;
  background: transparent !important;
}

.contenido-card {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  border-top-right-radius: 0.3em !important;
  border-top-left-radius: 0.3em !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  transition: 0.5s ease;
}

.contenido-card:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.6);
}

.mat-card-header {
  background: #27ae60;
  color: white;
  width: 100%;
  border-top-right-radius: 0.3em !important;
  border-top-left-radius: 0.3em !important;
}

.mat-card-title {
  margin-top: 10px;
  font-size: 16.5px !important;
  font-weight: normal !important;
}

.contenedor-titulo-icono {
  display: flex;
  width: 100%;
  font-size: 16.5px;
  font-weight: normal;
  height: 40px;
  align-items: center;
}

.contenedor-titulo {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: 25px;
}

.contenedor-icono {
  display: flex;
  justify-content: center;
  width: 10%;
}

.content-1 {
  margin-top: 30px !important;
}

.mat-card-actions {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 0;
  margin-top: 27px !important;
  font-size: 16px;
  font-weight: bold;
}

.buton-leer-mas {
  padding: 0 !important;
  border-radius: 0 !important;
  width: 100%;
  color: black;
}

.buton-practicar {
  padding: 0 !important;
  border-radius: 0 !important;
  width: 100%;
  color: black !important;
}

.buton-practicar-evaluacion {
  padding: 0 !important;
  border-radius: 0 !important;
  width: 100%;
  color: black !important;
  margin-top: 36px !important;
}

.buton-leer-mas:hover {
  background: #eeeeee;
  //color: black;
}

.buton-practicar:hover,
.buton-practicar-evaluacion:hover {
  background: #eeeeee;
  color: none;
  animation: none;
}

@media screen and (max-width: 1200px) {
  .div-caja {
    width: 40%;
  }
}

@media screen and (max-width: 760px) {
  .div-caja {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .div-principal {
    width: 95%;
  }
}