<app-encabezado-estudiante></app-encabezado-estudiante>
<mat-card class="mat-elevation-z4 card-conjuntos-diferenciaS-2">
    <mat-card-header class="card-header-conjuntos-diferenciaS-2">
        <div class="div-encabezado-titulo-diferenciaS-2">
            <div class="div-icono-volver-diferenciaS-2">
                <button mat-icon-button routerLink="/home-estudiante" matTooltip="Volver"
                    matTooltipClass="cerrar-sesion">
                    <mat-icon class="icono-volver-diferenciaS-2">keyboard_backspace</mat-icon>
                </button>
            </div>
            <div class="div-titulo-diferenciaS-2">
                Diferencia simétrica 2
            </div>
        </div>
    </mat-card-header>
    <mat-card-content class="card-content-diferenciaS-2">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let ejercicio of listEjercicioUno" [expanded]="step === 0"
                (opened)="setStep(0)" [disabled]="!habilitarExpansionPanelPregeunta1">
                <mat-expansion-panel-header>
                    <div class="div-titulo-pregunta-diferenciaS-2">
                        <div style="display: flex;">
                            <mat-panel-title class="panel-titulo-diferenciaS-2">
                                {{ejercicio.numeropregunta}}
                            </mat-panel-title>
                        </div>
                        <div style="display: flex;">
                            <mat-panel-description *ngIf="!mostrarIcono1">
                                <mat-icon class="icon-check">check_circle_outline</mat-icon>
                            </mat-panel-description>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <p>{{ejercicio.pregunta}}</p>
                    <div class="div-principal-a-b">
                        <div class="div-conjunto-a">
                            <p>Conjunto A = {{ejercicio.conjuntoa}}</p>
                        </div>
                        <div class="div-conjunto-b">
                            <p>Conjunto B = {{ejercicio.conjuntob}}</p>
                        </div>
                    </div>
                    <mat-action-row style="padding: 0; margin: 0;">
                        <mat-radio-group class="contenedor-radio-group-diferenciaS-2">
                            <div class="div-radio-ab">
                                <div class="div-radio-a">
                                    <mat-radio-button [value]="ejercicio.respuestaa" (click)="respuestaA(ejercicio)"
                                        class="radio-button">a) {{ejercicio.respuestaa}}</mat-radio-button>
                                </div>
                                <div class="div-radio-b">
                                    <mat-radio-button [value]="ejercicio.respuestab" (click)="respuestaB(ejercicio)"
                                        class="radio-button">b) {{ejercicio.respuestab}}</mat-radio-button>
                                </div>
                            </div>
                            <div class="div-radio-cd">
                                <div class="div-radio-c">
                                    <mat-radio-button [value]="ejercicio.respuestac" (click)="respuestaC(ejercicio)"
                                        class="radio-button">c) {{ejercicio.respuestac}}</mat-radio-button>
                                </div>
                                <div class="div-radio-d">
                                    <mat-radio-button [value]="ejercicio.respuestad" (click)="respuestaD(ejercicio)"
                                        class="radio-button">d) {{ejercicio.respuestad}}</mat-radio-button>
                                </div>
                            </div>
                            <div *ngIf="!validarRespuesta" class="div-principal-respuesta-correcta">
                                <div class="div-respuesta-correcta">
                                    <p class="respuesta"> La respuesta correcta es : b) {{respuestaCorrecta}} </p>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaA" class="div-principal-solucion-a">
                                <div class="div-solucion-a">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestaa}} </p>
                                </div>
                                <div class="div-boton-solucion-a">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaC" class="div-principal-solucion-c">
                                <div class="div-solucion-c">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestac}} </p>
                                </div>
                                <div class="div-boton-solucion-c">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaD" class="div-principal-solucion-d">
                                <div class="div-solucion-d">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestad}} </p>
                                </div>
                                <div class="div-boton-solucion-d">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                        </mat-radio-group>
                    </mat-action-row>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let ejercicio of listEjercicioDos" [expanded]="step === 1"
                (opened)="setStep(1)" [disabled]="!habilitarExpansionPanelPregeunta2">
                <mat-expansion-panel-header>
                    <div class="div-titulo-pregunta-diferenciaS-2">
                        <div style="display: flex;">
                            <mat-panel-title class="panel-titulo-diferenciaS-2">
                                {{ejercicio.numeropregunta}}
                            </mat-panel-title>
                        </div>
                        <div style="display: flex;">
                            <mat-panel-description *ngIf="!mostrarIcono2">
                                <mat-icon class="icon-check">check_circle_outline</mat-icon>
                            </mat-panel-description>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <p>{{ejercicio.pregunta}}</p>
                    <div class="div-principal-a-b">
                        <div class="div-conjunto-a">
                            <p>Conjunto A = {{ejercicio.conjuntoa}}</p>
                        </div>
                        <div class="div-conjunto-b">
                            <p>Conjunto B = {{ejercicio.conjuntob}}</p>
                        </div>
                    </div>
                    <mat-action-row style="padding: 0; margin: 0;">
                        <mat-radio-group class="contenedor-radio-group-diferenciaS-2">
                            <div class="div-radio-ab">
                                <div class="div-radio-a">
                                    <mat-radio-button [value]="ejercicio.respuestaa" (click)="respuestaA(ejercicio)"
                                        class="radio-button">a) {{ejercicio.respuestaa}}</mat-radio-button>
                                </div>
                                <div class="div-radio-b">
                                    <mat-radio-button [value]="ejercicio.respuestab" (click)="respuestaB(ejercicio)"
                                        class="radio-button">b) {{ejercicio.respuestab}}</mat-radio-button>
                                </div>
                            </div>
                            <div class="div-radio-cd">
                                <div class="div-radio-c">
                                    <mat-radio-button [value]="ejercicio.respuestac" (click)="respuestaC(ejercicio)"
                                        class="radio-button">c) {{ejercicio.respuestac}}</mat-radio-button>
                                </div>
                                <div class="div-radio-d">
                                    <mat-radio-button [value]="ejercicio.respuestad" (click)="respuestaD(ejercicio)"
                                        class="radio-button">d) {{ejercicio.respuestad}}</mat-radio-button>
                                </div>
                            </div>
                            <div *ngIf="!validarRespuesta" class="div-principal-respuesta-correcta">
                                <div class="div-respuesta-correcta">
                                    <p> La respuesta correcta es : {{respuestaCorrecta}} </p>
                                </div>
                            </div>
                            <div *ngIf="!ingresarRespuesta" class="div-respuesta-usuario">
                                <mat-form-field class="form-respuesta">
                                    <mat-label>Ingresar respuesta</mat-label>
                                    <input matInput [(ngModel)]="respuestaUsuario" placeholder="Ej. {1, 2, 3}">
                                </mat-form-field>
                                <div>
                                    <button mat-stroked-button color="primary" (click)="validarRespuestaUsuario(ejercicio)">Validar
                                        respuesta</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaA" class="div-principal-respuesta-a">
                                <div class="div-solucion-respuesta-a">
                                    <p class="respuesta">Respuesta incorrecta: {{ejercicio.solucionrespuestaa}} </p>
                                </div>
                                <div class="div-boton-respuesta-a">
                                    <button mat-stroked-button (click)="mostrarIngresarRespuesta(ejercicio)">Ingresar respuesta</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaB" class="div-principal-respuesta-b">
                                <div class="div-solucion-respuesta-b">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestab}} </p>
                                </div>
                                <div class="div-boton-respuesta-a">
                                    <button mat-stroked-button (click)="mostrarIngresarRespuesta(ejercicio)">Ingresar respuesta</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaC" class="div-principal-respuesta-c">
                                <div class="div-solucion-respuesta-c">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestac}} </p>
                                </div>
                                <div class="div-boton-respuesta-c">
                                    <button mat-stroked-button (click)="mostrarIngresarRespuesta(ejercicio)">Ingresar respuesta</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaD" class="div-principal-respuesta-d">
                                <div class="div-solucion-respuesta-d">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestad}} </p>
                                </div>
                                <div class="div-boton-respuesta-d">
                                    <button mat-stroked-button (click)="mostrarIngresarRespuesta(ejercicio)">Ingresar respuesta</button>
                                </div>
                            </div>
                        </mat-radio-group>
                    </mat-action-row>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let ejercicio of listEjercicioTres" [expanded]="step === 2"
                (opened)="setStep(2)" [disabled]="!habilitarExpansionPanelPregeunta3">
                <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="div-titulo-pregunta-diferenciaS-2">
                        <div style="display: flex;">
                            <mat-panel-title class="panel-titulo-diferenciaS-2">
                                {{ejercicio.numeropregunta}}
                            </mat-panel-title>
                        </div>
                        <div style="display: flex;">
                            <mat-panel-description *ngIf="!mostrarIcono3">
                                <mat-icon class="icon-check">check_circle_outline</mat-icon>
                            </mat-panel-description>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <p>{{ejercicio.pregunta}}</p>
                    <div class="div-principal-a-b">
                        <div class="div-conjunto-a2">
                            <p>Conjunto A = {{ejercicio.conjuntoa}}</p>
                        </div>
                        <div class="div-conjunto-b2">
                            <p>Conjunto B = {{ejercicio.conjuntob}}</p>
                        </div>
                        <div class="div-conjunto-c2">
                            <p>Conjunto C = {{ejercicio.conjuntoc}}</p>
                        </div>
                    </div>
                    <mat-action-row style="padding: 0; margin: 0;">
                        <mat-radio-group class="contenedor-radio-group-diferenciaS-2">
                            <div class="div-radio-ab">
                                <div class="div-radio-a">
                                    <mat-radio-button [value]="ejercicio.respuestaa" (click)="respuestaA(ejercicio)"
                                        class="radio-button">a) {{ejercicio.respuestaa}}</mat-radio-button>
                                </div>
                                <div class="div-radio-b">
                                    <mat-radio-button [value]="ejercicio.respuestab" (click)="respuestaB(ejercicio)"
                                        class="radio-button">b) {{ejercicio.respuestab}}</mat-radio-button>
                                </div>
                            </div>
                            <div class="div-radio-cd">
                                <div class="div-radio-c">
                                    <mat-radio-button [value]="ejercicio.respuestac" (click)="respuestaC(ejercicio)"
                                        class="radio-button">c) {{ejercicio.respuestac}}</mat-radio-button>
                                </div>
                                <div class="div-radio-d">
                                    <mat-radio-button [value]="ejercicio.respuestad" (click)="respuestaD(ejercicio)"
                                        class="radio-button">d) {{ejercicio.respuestad}}</mat-radio-button>
                                </div>
                            </div>
                            <div *ngIf="!validarRespuesta" class="div-principal-respuesta-correcta">
                                <div class="div-respuesta-correcta">
                                    <p>La respuesta correcta es : a) {{respuestaCorrecta}}</p>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaB" class="div-principal-solucion-b">
                                <div class="div-solucion-b">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestab}} </p>
                                </div>
                                <div class="div-boton-solucion-b">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaC" class="div-principal-solucion-c">
                                <div class="div-solucion-c">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestac}} </p>
                                </div>
                                <div class="div-boton-solucion-c">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaD" class="div-principal-solucion-d">
                                <div class="div-solucion-d">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestad}} </p>
                                </div>
                                <div class="div-boton-solucion-d">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                        </mat-radio-group>
                    </mat-action-row>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let ejercicio of listEjercicioCuatro" [expanded]="step === 3"
                (opened)="setStep(3)" [disabled]="!habilitarExpansionPanelPregeunta4">
                <mat-expansion-panel-header>
                    <div class="div-titulo-pregunta-diferenciaS-2">
                        <div style="display: flex;">
                            <mat-panel-title class="panel-titulo-diferenciaS-2">
                                {{ejercicio.numeropregunta}}
                            </mat-panel-title>
                        </div>
                        <div style="display: flex;">
                            <mat-panel-description *ngIf="!mostrarIcono4">
                                <mat-icon class="icon-check">check_circle_outline</mat-icon>
                            </mat-panel-description>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <p>{{ejercicio.pregunta}}</p>
                    <div class="div-principal-a-b">
                        <div class="div-conjunto-a2">
                            <p>Conjunto A = {{ejercicio.conjuntoa}}</p>
                        </div>
                        <div class="div-conjunto-b2">
                            <p>Conjunto B = {{ejercicio.conjuntob}}</p>
                        </div>
                        <div class="div-conjunto-c2">
                            <p>Conjunto C = {{ejercicio.conjuntoc}}</p>
                        </div>
                    </div>
                    <mat-action-row style="padding: 0; margin: 0;">
                        <mat-radio-group class="contenedor-radio-group-diferenciaS-2">
                            <div class="div-radio-ab">
                                <div class="div-radio-a">
                                    <mat-radio-button [value]="ejercicio.respuestaa" (click)="respuestaA(ejercicio)"
                                        class="radio-button">a) {{ejercicio.respuestaa}}</mat-radio-button>
                                </div>
                                <div class="div-radio-b">
                                    <mat-radio-button [value]="ejercicio.respuestab" (click)="respuestaB(ejercicio)"
                                        class="radio-button">b) {{ejercicio.respuestab}}</mat-radio-button>
                                </div>
                            </div>
                            <div class="div-radio-cd">
                                <div class="div-radio-c">
                                    <mat-radio-button [value]="ejercicio.respuestac" (click)="respuestaC(ejercicio)"
                                        class="radio-button">c) {{ejercicio.respuestac}}</mat-radio-button>
                                </div>
                                <div class="div-radio-d">
                                    <mat-radio-button [value]="ejercicio.respuestad" (click)="respuestaD(ejercicio)"
                                        class="radio-button">d) {{ejercicio.respuestad}}</mat-radio-button>
                                </div>
                            </div>
                            <div *ngIf="!validarRespuesta" class="div-principal-respuesta-correcta">
                                <div class="div-respuesta-correcta">
                                    <p> La respuesta correcta es : d) {{respuestaCorrecta}} </p>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaA" class="div-principal-solucion-a">
                                <div class="div-solucion-a">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestaa}} </p>
                                </div>
                                <div class="div-boton-solucion-a">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaB" class="div-principal-solucion-b">
                                <div class="div-solucion-b">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestab}} </p>
                                </div>
                                <div class="div-boton-solucion-b">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaC" class="div-principal-solucion-c">
                                <div class="div-solucion-c">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestac}} </p>
                                </div>
                                <div class="div-boton-solucion-c">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                        </mat-radio-group>
                    </mat-action-row>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let ejercicio of listEjercicioCinco" [expanded]="step === 4"
                (opened)="setStep(4)" [disabled]="!habilitarExpansionPanelPregeunta5">
                <mat-expansion-panel-header>
                    <div class="div-titulo-pregunta-diferenciaS-2">
                        <div style="display: flex;">
                            <mat-panel-title class="panel-titulo-diferenciaS-2">
                                {{ejercicio.numeropregunta}}
                            </mat-panel-title>
                        </div>
                        <div style="display: flex;">
                            <mat-panel-description *ngIf="!mostrarIcono5">
                                <mat-icon class="icon-check">check_circle_outline</mat-icon>
                            </mat-panel-description>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <p>{{ejercicio.pregunta}}</p>
                    <div class="div-principal-a-b">
                        <div class="div-conjunto-a">
                            <p>Conjunto A = {{ejercicio.conjuntoa}}</p>
                        </div>
                        <div class="div-conjunto-b">
                            <p>Conjunto B = {{ejercicio.conjuntob}}</p>
                        </div>
                    </div>
                    <mat-action-row style="padding: 0; margin: 0;">
                        <mat-radio-group class="contenedor-radio-group-diferenciaS-2">
                            <div class="div-radio-ab">
                                <div class="div-radio-a">
                                    <mat-radio-button [value]="ejercicio.respuestaa" (click)="respuestaA(ejercicio)"
                                        class="radio-button">a) {{ejercicio.respuestaa}}</mat-radio-button>
                                </div>
                                <div class="div-radio-b">
                                    <mat-radio-button [value]="ejercicio.respuestab" (click)="respuestaB(ejercicio)"
                                        class="radio-button">b) {{ejercicio.respuestab}}</mat-radio-button>
                                </div>
                            </div>
                            <div class="div-radio-cd">
                                <div class="div-radio-c">
                                    <mat-radio-button [value]="ejercicio.respuestac" (click)="respuestaC(ejercicio)"
                                        class="radio-button">c) {{ejercicio.respuestac}}</mat-radio-button>
                                </div>
                                <div class="div-radio-d">
                                    <mat-radio-button [value]="ejercicio.respuestad" (click)="respuestaD(ejercicio)"
                                        class="radio-button">d) {{ejercicio.respuestad}}</mat-radio-button>
                                </div>
                            </div>
                            <div *ngIf="!validarRespuesta" class="div-principal-respuesta-correcta">
                                <div class="div-respuesta-correcta">
                                    <p> La respuesta correcta es : {{respuestaCorrecta}} </p>
                                </div>
                            </div>
                            <div *ngIf="!ingresarRespuesta" class="div-respuesta-usuario">
                                <mat-form-field class="form-respuesta">
                                    <mat-label>Ingresar respuesta</mat-label>
                                    <input matInput [(ngModel)]="respuestaUsuario" placeholder="Ej. {1, 2, 3}">
                                </mat-form-field>
                                <div>
                                    <button mat-stroked-button color="primary" (click)="validarRespuestaUsuario(ejercicio)">Validar
                                        respuesta</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaA" class="div-principal-respuesta-a">
                                <div class="div-solucion-respuesta-a">
                                    <p> Respuesta incorrecta:{{ejercicio.solucionrespuestaa}} </p>
                                </div>
                                <div class="div-boton-respuesta-a">
                                    <button mat-stroked-button (click)="mostrarIngresarRespuesta(ejercicio)">Ingresar respuesta</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaB" class="div-principal-respuesta-b">
                                <div class="div-solucion-respuesta-b">
                                    <p> Respuesta incorrecta: {{ejercicio.solucionrespuestab}} </p>
                                </div>
                                <div class="div-boton-respuesta-a">
                                    <button mat-stroked-button (click)="mostrarIngresarRespuesta(ejercicio)">Ingresar respuesta</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaC" class="div-principal-respuesta-c">
                                <div class="div-solucion-respuesta-c">
                                    <p> Respuesta incorrecta: {{ejercicio.solucionrespuestac}} </p>
                                </div>
                                <div class="div-boton-respuesta-c">
                                    <button mat-stroked-button (click)="mostrarIngresarRespuesta(ejercicio)">Ingresar respuesta</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaD" class="div-principal-respuesta-d">
                                <div class="div-solucion-respuesta-d">
                                    <p> Respuesta incorrecta: {{ejercicio.solucionrespuestad}} </p>
                                </div>
                                <div class="div-boton-respuesta-d">
                                    <button mat-stroked-button (click)="mostrarIngresarRespuesta(ejercicio)">Ingresar respuesta</button>
                                </div>
                            </div>
                        </mat-radio-group>
                    </mat-action-row>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let ejercicio of listEjercicioSeis" [expanded]="step === 5"
                (opened)="setStep(5)" [disabled]="!habilitarExpansionPanelPregeunta6">
                <mat-expansion-panel-header>
                    <div class="div-titulo-pregunta-diferenciaS-2">
                        <div style="display: flex;">
                            <mat-panel-title class="panel-titulo-diferenciaS-2">
                                {{ejercicio.numeropregunta}}
                            </mat-panel-title>
                        </div>
                        <div style="display: flex;">
                            <mat-panel-description *ngIf="!mostrarIcono6">
                                <mat-icon class="icon-check">check_circle_outline</mat-icon>
                            </mat-panel-description>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <p>{{ejercicio.pregunta}}</p>
                    <div class="div-principal-a-b">
                        <div class="div-conjunto-a">
                            <p>Conjunto A = {{ejercicio.conjuntoa}}</p>
                        </div>
                        <div class="div-conjunto-b">
                            <p>Conjunto B = {{ejercicio.conjuntob}}</p>
                        </div>
                    </div>
                    <mat-action-row style="padding: 0; margin: 0;">
                        <mat-radio-group class="contenedor-radio-group-diferenciaS-2">
                            <div class="div-radio-ab">
                                <div class="div-radio-a">
                                    <mat-radio-button [value]="ejercicio.respuestaa" (click)="respuestaA(ejercicio)"
                                        class="radio-button">a) {{ejercicio.respuestaa}}</mat-radio-button>
                                </div>
                                <div class="div-radio-b">
                                    <mat-radio-button [value]="ejercicio.respuestab" (click)="respuestaB(ejercicio)"
                                        class="radio-button">b) {{ejercicio.respuestab}}</mat-radio-button>
                                </div>
                            </div>
                            <div class="div-radio-cd">
                                <div class="div-radio-c">
                                    <mat-radio-button [value]="ejercicio.respuestac" (click)="respuestaC(ejercicio)"
                                        class="radio-button">c) {{ejercicio.respuestac}}</mat-radio-button>
                                </div>
                                <div class="div-radio-d">
                                    <mat-radio-button [value]="ejercicio.respuestad" (click)="respuestaD(ejercicio)"
                                        class="radio-button">d) {{ejercicio.respuestad}}</mat-radio-button>
                                </div>
                            </div>
                            <div *ngIf="!validarRespuesta" class="div-principal-respuesta-correcta">
                                <div class="div-respuesta-correcta">
                                    <p> La respuesta correcta es : c) {{respuestaCorrecta}} </p>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaA" class="div-principal-solucion-a">
                                <div class="div-solucion-a">
                                    <p class="respuesta"> Respuesta incorrecta:{{ejercicio.solucionrespuestaa}} </p>
                                </div>
                                <div class="div-boton-solucion-a">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaB" class="div-principal-solucion-b">
                                <div class="div-solucion-b">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestab}} </p>
                                </div>
                                <div class="div-boton-solucion-b">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaD" class="div-principal-solucion-d">
                                <div class="div-solucion-d">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestad}} </p>
                                </div>
                                <div class="div-boton-solucion-d">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                        </mat-radio-group>
                    </mat-action-row>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let ejercicio of listEjercicioSiete" [expanded]="step === 6"
                (opened)="setStep(6)" [disabled]="!habilitarExpansionPanelPregeunta7">
                <mat-expansion-panel-header>
                    <div class="div-titulo-pregunta-diferenciaS-2">
                        <div style="display: flex;">
                            <mat-panel-title class="panel-titulo-diferenciaS-2">
                                {{ejercicio.numeropregunta}}
                            </mat-panel-title>
                        </div>
                        <div style="display: flex;">
                            <mat-panel-description *ngIf="!mostrarIcono7">
                                <mat-icon class="icon-check">check_circle_outline</mat-icon>
                            </mat-panel-description>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <p>{{ejercicio.pregunta}}</p>
                    <div class="div-principal-a-b">
                        <div class="div-conjunto-a2">
                            <p>Conjunto A = {{ejercicio.conjuntoa}}</p>
                        </div>
                        <div class="div-conjunto-b2">
                            <p>Conjunto B = {{ejercicio.conjuntob}}</p>
                        </div>
                        <div class="div-conjunto-c2">
                            <p>Conjunto C = {{ejercicio.conjuntoc}}</p>
                        </div>
                    </div>
                    <mat-action-row style="padding: 0; margin: 0;">
                        <mat-radio-group class="contenedor-radio-group-diferenciaS-2">
                            <div class="div-radio-ab">
                                <div class="div-radio-a">
                                    <mat-radio-button [value]="ejercicio.respuestaa" (click)="respuestaA(ejercicio)"
                                        class="radio-button">a) {{ejercicio.respuestaa}}</mat-radio-button>
                                </div>
                                <div class="div-radio-b">
                                    <mat-radio-button [value]="ejercicio.respuestab" (click)="respuestaB(ejercicio)"
                                        class="radio-button">b) {{ejercicio.respuestab}}</mat-radio-button>
                                </div>
                            </div>
                            <div class="div-radio-cd">
                                <div class="div-radio-c">
                                    <mat-radio-button [value]="ejercicio.respuestac" (click)="respuestaC(ejercicio)"
                                        class="radio-button">c) {{ejercicio.respuestac}}</mat-radio-button>
                                </div>
                                <div class="div-radio-d">
                                    <mat-radio-button [value]="ejercicio.respuestad" (click)="respuestaD(ejercicio)"
                                        class="radio-button">d) {{ejercicio.respuestad}}</mat-radio-button>
                                </div>
                            </div>
                            <div *ngIf="!validarRespuesta" class="div-principal-respuesta-correcta">
                                <div class="div-respuesta-correcta">
                                    <p> La respuesta correcta es : c) {{respuestaCorrecta}} </p>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaA" class="div-principal-solucion-a">
                                <div class="div-solucion-a">
                                    <p class="respuesta"> Respuesta incorrecta:{{ejercicio.solucionrespuestaa}} </p>
                                </div>
                                <div class="div-boton-solucion-a">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaB" class="div-principal-solucion-b">
                                <div class="div-solucion-b">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestab}} </p>
                                </div>
                                <div class="div-boton-solucion-b">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaD" class="div-principal-solucion-d">
                                <div class="div-solucion-d">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestad}} </p>
                                </div>
                                <div class="div-boton-solucion-d">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                        </mat-radio-group>
                    </mat-action-row>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let ejercicio of listEjercicioOcho" [expanded]="step === 7"
                (opened)="setStep(7)" [disabled]="!habilitarExpansionPanelPregeunta8">
                <mat-expansion-panel-header>
                    <div class="div-titulo-pregunta-diferenciaS-2">
                        <div style="display: flex;">
                            <mat-panel-title class="panel-titulo-diferenciaS-2">
                                {{ejercicio.numeropregunta}}
                            </mat-panel-title>
                        </div>
                        <div style="display: flex;">
                            <mat-panel-description *ngIf="!mostrarIcono8">
                                <mat-icon class="icon-check">check_circle_outline</mat-icon>
                            </mat-panel-description>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <p>{{ejercicio.pregunta}}</p>
                    <div class="div-principal-a-b">
                        <div class="div-conjunto-a2">
                            <p>Conjunto A = {{ejercicio.conjuntoa}}</p>
                        </div>
                        <div class="div-conjunto-b2">
                            <p>Conjunto B = {{ejercicio.conjuntob}}</p>
                        </div>
                        <div class="div-conjunto-c2">
                            <p>Conjunto C = {{ejercicio.conjuntoc}}</p>
                        </div>
                    </div>
                    <mat-action-row style="padding: 0; margin: 0;">
                        <mat-radio-group class="contenedor-radio-group-diferenciaS-2">
                            <div class="div-radio-ab">
                                <div class="div-radio-a">
                                    <mat-radio-button [value]="ejercicio.respuestaa" (click)="respuestaA(ejercicio)"
                                        class="radio-button">a) {{ejercicio.respuestaa}}</mat-radio-button>
                                </div>
                                <div class="div-radio-b">
                                    <mat-radio-button [value]="ejercicio.respuestab" (click)="respuestaB(ejercicio)"
                                        class="radio-button">b) {{ejercicio.respuestab}}</mat-radio-button>
                                </div>
                            </div>
                            <div class="div-radio-cd">
                                <div class="div-radio-c">
                                    <mat-radio-button [value]="ejercicio.respuestac" (click)="respuestaC(ejercicio)"
                                        class="radio-button">c) {{ejercicio.respuestac}}</mat-radio-button>
                                </div>
                                <div class="div-radio-d">
                                    <mat-radio-button [value]="ejercicio.respuestad" (click)="respuestaD(ejercicio)"
                                        class="radio-button">d) {{ejercicio.respuestad}}</mat-radio-button>
                                </div>
                            </div>
                            <div *ngIf="!validarRespuesta" class="div-principal-respuesta-correcta">
                                <div class="div-respuesta-correcta">
                                    <p> La respuesta correcta es : c) {{respuestaCorrecta}} </p>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaA" class="div-principal-solucion-a">
                                <div class="div-solucion-a">
                                    <p class="respuesta"> Respuesta incorrecta:{{ejercicio.solucionrespuestaa}} </p>
                                </div>
                                <div class="div-boton-solucion-a">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaB" class="div-principal-solucion-b">
                                <div class="div-solucion-b">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestab}} </p>
                                </div>
                                <div class="div-boton-solucion-b">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                            <div *ngIf="!solucionRespuestaD" class="div-principal-solucion-d">
                                <div class="div-solucion-d">
                                    <p class="respuesta"> Respuesta incorrecta: {{ejercicio.solucionrespuestad}} </p>
                                </div>
                                <div class="div-boton-solucion-d">
                                    <button class="boton-ver-solucion" mat-button (click)="verSolucion(ejercicio)">Ver solución</button>
                                </div>
                            </div>
                        </mat-radio-group>
                    </mat-action-row>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>
<app-footer></app-footer>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" type="ball-spin-clockwise">
    <p style="color: white">Cargando ejercicios ...</p>
</ngx-spinner>