<div class="mat-elevation-z8" class="div-table">
    <div fxLayout="row" fxLayoutAlign="end end">
        <mat-form-field appearance="outline" class="form-buscar">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="Eje. Rolando" (keyup)="filtrarAlumno($event)" #input>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <span>{{mensaje}}</span>
    <mat-table [dataSource]="dataSource" matSort style="font-size: 16px !important;">
        <ng-container matColumnDef="matricula">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="encabezado"> Matrícula</mat-header-cell>
            <mat-cell *matCellDef="let estudiante" data-label="Matrícula"> {{estudiante.matricula}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombrecompleto">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="encabezado">Nombre completo</mat-header-cell>
            <mat-cell *matCellDef="let estudiante" data-label="Nombre c."> {{estudiante.nombrecompleto}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="programaeducativo">
            <mat-header-cell *matHeaderCellDef class="encabezado"> Programa E. </mat-header-cell>
            <mat-cell *matCellDef="let estudiante" data-label="P.E." id="p-e"> {{estudiante.programaeducativo}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="seccion">
            <mat-header-cell *matHeaderCellDef class="encabezado"> Seccion </mat-header-cell>
            <mat-cell *matCellDef="let estudiante" data-label="Sección"> {{estudiante.seccion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="encabezado" id="acciones">Acciones</mat-header-cell>
            <mat-cell *matCellDef="let estudiante">
                <button mat-icon-button matTooltip="Editar alumno" matTooltipPosition="below"
                    matTooltipClass="cerrar-sesion" (click)="editarEstudiante(estudiante)">
                    <mat-icon class="icon">create</mat-icon>
                </button>&nbsp;
                <button mat-icon-button matTooltip="Eliminar Alumno" matTooltipPosition="below"
                    matTooltipClass="cerrar-sesion" (click)="eliminarEstudiante(estudiante)">
                    <mat-icon class="icon">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>s
    </mat-table>
    <div [hidden]="ocultarMensaje">
        <p class="menseaje">¡Aún no existen estudiantes registrados en el sitema!</p>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" type="ball-spin-clockwise">
    <p style="color: white;">Carganfo información ...</p>
</ngx-spinner>