<app-encabezado-estudiante></app-encabezado-estudiante>
<mat-card class="mat-elevation-z4 card-conjuntos">
    <mat-card-header class="card-header-conjuntos">
        <div class="div-encabezado-titulo">
            <div class="div-icono-volver">
                <button mat-icon-button routerLink="/home-estudiante" matTooltip="Atrás"
                    matTooltipClass="cerrar-sesion">
                    <mat-icon class="icono-volver-teoria">keyboard_backspace</mat-icon>
                </button>
            </div>
            <div class="div-titulo-principal">
                Teória elemental de conjuntos
            </div>
        </div>
    </mat-card-header>
    <mat-card-content class="card-content">
        <div>
            <h3>¿Qué es un conjunto ?</h3>
            <p class="parrafo">Se le llama conjunto a una colección o una agrupación de elementos
                perfectamente bien definidos y diferenciados dentro de un todo.
            </p>
        </div>
        <div>
            <h3>Requisitos para formar un conjunto</h3>
            <ul class="parrafo">
                <li>En general a un conjunto se le asigna cualquier nombre o
                    se denotan con letras mayúsculas o minúsculas del
                    abecedario</li>
                <li>Los elementos de un conjunto se colocan entre llaves y
                    separados por comas. <br /> Ejemplo:</li>
            </ul>
            <div style="display: flex; justify-content: center;">
                <img style="max-width: 300px;" src="assets/img/ejemplo-conjunto.png">
            </div>
            <ul class="parrafo">
                <li>Los elementos de los conjuntos se representan con símbolos
                    numéricos, letras, caracteres, etc. <br /> Ejemplo:</li>
            </ul>
            <div style="display: flex; justify-content: center;">
                <img style="max-width: 300px;" src="assets/img/ejemplo-conjuntos.png">
            </div>
            <ul class="parrafo">
                <li>La representación gráfica es a través de diagramas de Venn Euler.<br /> Ejemplo:</li>
            </ul>
            <div style="display: flex; justify-content: center;">
                <img style="max-width: 300px;" src="assets/img/ejemplo-diagrama-venn.png">
            </div>
        </div>
        <div>
            <h3>Diagrama de Venn Euler</h3>
            <p class="parrafo">Son gráficos para representar conjuntos. Se utilizan áreas
                rectangulares, ovales, y circulares para visualizar los conjuntos. Por
                ejemplo el conjunto universal se representa con un rectángulo, dentro
                del cual se grafican los subconjuntos de este.
            </p>
            <div style="display: flex; justify-content: center;">
                <img style="max-width: 300px;" src="assets/img/diagrama-Venn.png">
            </div>
        </div>
        <div>
            <h3>Conjunto finito</h3>
            <p class="parrafo">Un conjunto es finito cuando se pueden contar uno a uno hasta alcanzar
                el último de los elementos que lo forman.<br /> Ejemplo:
            </p>
            <div style="display: flex; justify-content: center;">
                <img style="max-width: 300px;" src="assets/img/conjunto-finito.png">
            </div>
        </div>
        <div>
            <h3>Conjunto infinito</h3>
            <p class="parrafo">Un conjunto es infinito cuando no se conoce el último elemento que lo
                forma ya que siempre hay un elemento más que recorrer.<br /> Ejemplo:
            </p>
            <div style="display: flex; justify-content: center;">
                <img style="max-width: 300px;" src="assets/img/conjunto-infinito.png">
            </div>
        </div>

        <div>
            <h3>Conjunto vacío</h3>
            <p class="parrafo">El conjunto vacío es el que carece de elementos. Se denota por Ø
            </p>
        </div>
        <div>
            <h3>Subconjunto</h3>
            <p class="parrafo">Si cada elemento de un conjunto A es también elemento de un conjunto B, entonces se dice
                que A es un subconjunto de B. Se dice también que A está contenido en B o que B contiene a A. La
                relación de subconjunto viene dada por:
                <b style="font-size: 16px;">A ⊂ B o B ⊂ A</b>
            </p>
            <p class="parrafo">Ejemplo: <br />
                <img class="img-conjuntos" src="assets/img/conjuntos-ejemplo.png">
            </p>
            <p class="parrafo">Observe que todos los elementos del conjunto C están en el conjunto A; por tanto C ⊂ A.
                Asimismo, podemos
                notar que C ⊂ B. Sin embargo, no todos los elementos de B están A, por lo que podemos denotar que B ⊄ A.
                Además, A ⊄ B, A ⊄ C y B ⊄ C.</p>
        </div>
        <div class="div-imaganes-subconjuntos">
            <div class="div-imagen-1">
                <img class="imagen-subconjunto" src="assets/img/subconjunto-1.png">
            </div>
            <div class="imagen-2">
                <img class="imagen-subconjunto" src="assets/img/subconjunto-2.png">
            </div>
            <div class="imagen-3">
                <img class="imagen-subconjunto" src="assets/img/subconjunto-3.png">
            </div>
        </div>
        <div style="margin-bottom: 10% !important;">
            <h3>Pertenencia</h3>
            <p class="parrafo">Cuando se relaciona a un elemento con el conjunto al cual pertenece se
                utiliza el símbolo ∊ que se emplea para abreviar pertenece o es
                miembro de o es elemento de. Cuando un elemento a pertenece al conjunto A se denota por:</p>
            <p style="font-size: 16px; text-align: center; font: bold !important; color: black;">a ∈ A (“a pertenece a
                A”)</p>
            <p class="parrafo"> Para expresar que el elemento a no pertenece al conjunto A se representa con:</p>
            <p style="font-size: 16px; text-align: center; font: bold !important; color: black;">a ∉ A (“a no pertenece
                a A”)</p>
        </div>
        <div>
            <p class="parrafo">Referencias:</p>
            <p class="parrafo">Zill, D. & Dewar J. Álgebra, trigonometría y geometría analítica.</p>
            <p class="parrafo">Aguayo, M., Pierdnat, A., Rodríguez, E., Rodríguez, J., Rodríguez, J., & Toledano M.
                Fundamentos de matemáticas.</p>
        </div>
    </mat-card-content>
</mat-card>
<app-footer></app-footer>