<div class="contenido-div">
    <div class="titulo-principal">
        <b>Actualizar estatus académico</b>
    </div>
    <div>
        <p class="subtitulo">¿Estás seguro de actualizar el estatus?</p>
        <p class="subtitulo" style="margin-top: 5px;">Recuerda, si el estatus es inactivo el académico
            no podrá ingresar al sistema.
        </p>
    </div>
    <div>
        <button id="boton-si" mat-button [mat-dialog-close]="true">Sí</button>
    </div>
    <div>
        <button id="boton-no" mat-button [mat-dialog-close]="false">No</button>
    </div>
</div>