<mat-card class="mat-elevation-z4" id="card-nivel">
    <mat-card-content class="card-content-nivel">
        <div class="div-nivel">
            <p style="font-size: 25px; text-align: center;">Sigue practicando. <br /> Sigue mejorando.</p>
        </div>
        <div class="div-img-nivel">
            <img src="assets/img/medalla.png">
        </div>
        <div class="div-nivel" style="margin-bottom: 50px !important;">
            <p style="font-size: 22px; text-align: center;">Diferencia simétrica 1 finalizado exitosamente</p>
        </div>
    </mat-card-content>
    <mat-card-actions fxLayout="column" fxLayoutAlign="none"
        style="margin-top: -20px !important;">
        <button class="boton-inicio" mat-stroked-button (click)="volverInicio()">
            Volver inicio
        </button>
    </mat-card-actions>
</mat-card>