<div class="mat-elevation-z8" class="div-table">
  <div fxLayout="row" fxLayoutAlign="end end">
    <mat-form-field appearance="outline" class="form-buscar">
      <mat-label>Buscar</mat-label>
      <input matInput placeholder="Eje. Rolando" (keyup)="filtrarAlumno($event)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <span>{{mensaje}}</span>
  <mat-table [dataSource]="dataSource" matSort style="font-size: 16px !important;">
    <ng-container matColumnDef="numeropersonal">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="encabezado"> Numero personal</mat-header-cell>
      <mat-cell *matCellDef="let academico" data-label="Número personal"> {{academico.numeropersonal}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombrecompleto">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="encabezado">Nombre completo</mat-header-cell>
      <mat-cell *matCellDef="let academico" data-label="Nombre c."> {{academico.nombrecompleto}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="correoinstitucional">
      <mat-header-cell *matHeaderCellDef  class="encabezado"> Correo </mat-header-cell>
      <mat-cell *matCellDef="let academico" data-label="Correo"> {{academico.correoinstitucional}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="estatus">
      <mat-header-cell *matHeaderCellDef class="encabezado"> Estatus </mat-header-cell>
      <mat-cell *matCellDef="let academico" data-label="Estatus"> {{academico.estatus}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef style="text-align: center !important;" class="encabezado">Acciones</mat-header-cell>
      <mat-cell *matCellDef="let academico" id="acciones">
        <button mat-icon-button matTooltip="Editar académico" matTooltipPosition="below" matTooltipClass="sesion"
          (click)="editarAcademico(academico)">
          <mat-icon class="icon">create</mat-icon>
        </button>&nbsp;
        <mat-slide-toggle matTooltip="Cambiar estatus" matTooltipClass="sesion" class="example-margin"
          [checked]="academico.estatus2" (click)="cambiarEstatus(academico)">
        </mat-slide-toggle>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div [hidden]="ocultarMensaje">
    <p class="menseaje">¡Aún no existen académicos registrados en el sitema!</p>
  </div>
  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" type="ball-spin-clockwise">
  <p style="color:white;">Cargando información ...</p>
</ngx-spinner>