.div-table {
  margin-bottom: 90px;
}

.form-buscar {
  width: 50%;
  font-size: 15px;
}

.mat-table {
  width: 100%;
  background: transparent !important;
  font-size: 16px !important;
}

.mat-cell,
.mat-header-cell {
  font-size: 16px !important;
  font-weight: normal;
}

.mat-header-row {
  text-align: left;
  font-size: 16px !important;
  font-weight: normal;
}

.menseaje {
  text-align: center;
  font-size: 20px;
  color: #3564ac;
}

#p-e {
  padding-left: 20px !important;
}


.icon {
  color: #2e86c1;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #aed6f1;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #2e86c1;
}

.mat-form-field-outline-thick {
  color: #2e86c1 !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: gray !important;
}

#acciones {
  padding-right: 10px !important;
}

.icon {
  color: #2e86c1;
}

.mat-header-cell:last-of-type {
  padding-right: 0 !important;
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }

  #p-e {
    padding-left: 0 !important;
  }

  .encabezado {
    display: none;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    height: 30px;
    margin-bottom: 8px;
  }
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    font-size: 16px;
    font-weight: normal;
  }

  .mat-cell:first-of-type {
    padding-left: 0 !important;
  }

  .mat-cell:last-of-type {
    padding-right: 0;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
    text-align: center;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 10px;
  }
}

@media screen and (max-width: 760px) {
  .form-buscar {
    width: 100%;
  }
}